@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
       url('../fonts/Montserrat-Regular.woff') format('woff'),
       url('../fonts/Montserrat-Regular.ttf') format('truetype'),
       url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
       url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Montserrat-Regular';
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('../img/lighter_back_jumbotron.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 2px 2px 2px #085230!important;
  text-align: center;
  margin-bottom: 0px;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

.container-fluid {
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
}

.col-md-12.center {
  text-align: center;
}




