<!-- extend base layout -->
<div class="container theme-showcase" role="main">

{% extends "base.html" %}

    {% block content %}

    <div class="page-header">
        <h1>Powody przystąpienia do gildii/klanu</h1>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>nowe znajomości</th>
            <th>wspólna rozgrywka</th>
            <th>otrzymywanie benefitów</th>
            <th>inne</th>
            <th>nie dotyczy</th>
            <th># ankietowanego</th>
        </tr>
        </thead>

        <tbody>
        {% for element in surveydata %}
        <tr>
            <td>{{ element.id }}</td>
            <td>{{ element.meeting }}</td>
            <td>{{ element.team }}</td>
            <td>{{ element.benefits }}</td>
            <td>{{ element.other }}</td>
            <td>{{ element.na}}</td>
            <td>{{ element.surveydata_id }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endblock %}
</div>