<!-- extend base layout -->
<div class="container theme-showcase" role="main">

{% extends "base.html" %}

    {% block content %}

    <div class="page-header">
        <h1>Tabela wyników ankiety</h1>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Płeć</th>
            <th>Grupa wiekowa</th>
            <th>Wykształcenie</th>
            <th>Preferowane gry</th>
            <th>Czas gry</th>
            <th>Komunikacja</th>
            <th>Rezygnacja z zajęć</th>
            <th>Częstość rezygnacji</th>
            <th>Bycie świadkiem agresji</th>
            <th>Uczestniczenie w agresji</th>
            <th>Bycie świadkiem uprzykrzania</th>
            <th>Uczestniczenie w uprzykrzaniu</th>
            <th>Bycie członkiem gildii</th>
            <th>Użycie teamspeaka</th>
            <th>Utrzymywanie kontaktów w grze</th>
            <th>Kontakt poza grą</th>
            <th>Długotrwała znajomość</th>
            <th>Spotkania irl</th>
        </tr>
        </thead>

        <tbody>
        {% for element in surveydata %}
        <tr>
            <td>{{ element.id }}</td>
            <td>{{ element.gender }}</td>
            <td>{{ element.age }}</td>
            <td>{{ element.education }}</td>
            <td>{{ element.single_multi }}</td>
            <td>{{ element.gametime }}</td>
            <td>{{ element.communication }}</td>
            <td>{{ element.resign }}</td>
            <td>{{ element.resign_freq }}</td>
            <td>{{ element.salt }}</td>
            <td>{{ element.salt_self }}</td>
            <td>{{ element.griefing }}</td>
            <td>{{ element.griefing_self}}</td>
            <td>{{ element.guild }}</td>
            <td>{{ element.teamspeak}}</td>
            <td>{{ element.shyness_factor }}</td>
            <td>{{ element.reallife_contact }}</td>
            <td>{{ element.bonding }}</td>
            <td>{{ element.meeting }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endblock %}
</div>