<!-- extend base layout -->
<div class="container theme-showcase" role="main">

{% extends "base.html" %}

    {% block content %}

    <div class="page-header">
        <h1>Z czego ankietowani rezygnowali na rzecz gry</h1>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>ze sportu</th>
            <th>z czasu dla rodziny</th>
            <th>z czasu dla znajomych</th>
            <th>z wykonywania obowiązków</th>
            <th>z pracy</th>
            <th>inne</th>
            <th>nie dotyczy</th>
            <th># ankietowanego</th>
        </tr>
        </thead>

        <tbody>
        {% for element in surveydata %}
        <tr>
            <td>{{ element.id }}</td>
            <td>{{ element.sport }}</td>
            <td>{{ element.family }}</td>
            <td>{{ element.friends }}</td>
            <td>{{ element.chores }}</td>
            <td>{{ element.work }}</td>
            <td>{{ element.other }}</td>
            <td>{{ element.na}}</td>
            <td>{{ element.surveydata_id }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endblock %}
</div>