<!-- extend base layout -->
<div class="container theme-showcase" role="main">

{% extends "base.html" %}
{% block content %}

<div class="page-header">

    {% if request.args.get('error') == "true" %}
        <h1>Ups! Wygląda na to, że Twoja odpowiedź nie została zapisana!</h1>
        <h3>Prosimy o ponowne wypełnienie kwestionariusza</h3>
    {% else %}
        <h1>"Badanie interakcji społecznych w grach komputerowych"</h1>
        <h3>Uprzejmie prosimy o szczere i przemyślane odpowiedzi</h3>
    {% endif %}

</div>

<form role="form" action="/save" method="post" id="survey">

    <div class="panel-group" id="accordion">

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">
                    Dane personalne
                </h3>
            </div>

            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">

                    <div class="form-group">
                        <label>Płeć</label><br>
                        <label class="radio-inline">
                          <input type="radio" name="gender" value="F" required>Kobieta
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="gender" value="M">Mężczyzna
                        </label>
                    </div><br>

                    <div class="form-group">
                        <label for="age">Grupa wiekowa</label><br>
                        <label class="radio-inline">
                          <input type="radio" name="age" value="1" required>poniżej 15 lat
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="age" value="2">16-30 lat
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="age" value="3">31-45 lat
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="age" value="4">46-60 lat
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="age" value="5">powyżej 61 lat
                        </label>
                    </div><br>

                    <div class="form-group">
                        <label for="education">Wykształcenie</label>
                        <select class="form-control" name="education"  required>
                            <option value="" disabled selected hidden>Proszę wybrać jedną z poniższych opcji</option>
                            <option value="1">podstawowe</option>
                            <option value="2">zawodowe</option>
                            <option value="3">średnie</option>
                            <option value="4">wyższe</option>
                        </select>
                    </div><br>

                    <a id="accordion_btn_1" data-toggle="collapse" data-parent="#accordion" href="#collapse2" onclick="ScrollTop()">
                        <button type="button" class="btn btn-success">Przejdź dalej</button>
                    </a>
                    <button id="accordion_submit_1" type="submit" class="btn btn-success hidden" onclick="validateForm(1)">Zatwierdź i przejdź dalej</button>
                </div>
            </div>
        </div>

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">
                    Ocena stopnia zainteresowania grami komputerowymi
                </h3>
            </div>

            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">

                    <div class="form-group" id="gamerDiv">
                        <label>Czy zwykle grasz z komputerem (gry <i>singleplayer</i>) czy z innymi ludźmi (gry <i>multiplayer</i>)?</label><br>
                        <div class="radio">
                            <label>
                              <input type="radio" name="single_multi" value="sp" onclick="showGamerDiv()" required>Singleplayer
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                              <input type="radio" name="single_multi" value="mp" onclick="showGamerDiv()"> Multiplayer
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                              <input type="radio" name="single_multi" value="msp" onclick="showGamerDiv()"> Single- i Multiplayer
                            </label>
                        </div>
                    </div><br>

                    <div class="form-group">
                        <label>Ile średnio przeznaczasz dziennie czasu na granie?</label><br>
                        <label class="radio-inline">
                          <input type="radio" name="gametime" value="1" required>poniżej godziny
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="gametime" value="2">1-2 godziny
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="gametime" value="3">3-4 godziny
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="gametime" value="4">5-6 godzin
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="gametime" value="5">7 godzin lub więcej
                        </label>
                    </div><br>

                    <div class="div-single"><h1>SINGLE</h1>
                        <div class="form-group">
                            <p>Jesteśmy w stanie tu coś wymyślić?</p>
                        </div><br>
                    </div>

                    <div class="div-multi">
                        <div class="form-group" id="MultiTitlesCheckboxGrp">
                            <label>
                                Poniżej przedstawiono wybrane tytuły popularnych gier <i>multiplayer</i>.
                                Proszę zaznaczyć te z nich, w które zdarzyło Ci się zagrać.
                            </label><br>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="multi_titles[]" value="dota" onclick="checkboxRequire(multiTitlesCheckboxGrpID)">DOTA 2
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="multi_titles[]" value="lol" onclick="checkboxRequire(multiTitlesCheckboxGrpID)"> League of Legends
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="multi_titles[]" value="hots" onclick="checkboxRequire(multiTitlesCheckboxGrpID)"> Heroes of the Storm
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="multi_titles[]" value="cs" onclick="checkboxRequire(multiTitlesCheckboxGrpID)"> gry z serii Counter Strike
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="multi_titles[]" value="cod" onclick="checkboxRequire(multiTitlesCheckboxGrpID)"> gry z serii Call of Duty
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="multi_titles[]" value="bf" onclick="checkboxRequire(multiTitlesCheckboxGrpID)"> gry z serii Battlefield
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="multi_titles[]" value="gta" onclick="checkboxRequire(multiTitlesCheckboxGrpID)"> Grand Theft Auto V
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="multi_titles[]" value="fifa" onclick="checkboxRequire(multiTitlesCheckboxGrpID)"> gry z serii FIFA
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="multi_titles[]" value="minecraft" onclick="checkboxRequire(multiTitlesCheckboxGrpID)"> Minecraft
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="multi_titles[]" value="hs" onclick="checkboxRequire(multiTitlesCheckboxGrpID)"> Hearthstone
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="multi_titles[]" value="sc2" onclick="checkboxRequire(multiTitlesCheckboxGrpID)"> Starcraft 2
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="multi_titles[]" value="wow" onclick="checkboxRequire(multiTitlesCheckboxGrpID)"> World of Warcraft
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="multi_titles[]" value="other" onclick="checkboxRequire(multiTitlesCheckboxGrpID)"> Inne
                                </label>
                            </div>
                            <div class="checkbox hidden">
                                <label>
                                  <input type="checkbox" name="multi_titles[]" value="NA"> Nie dotyczy
                                </label>
                            </div>
                        </div><br>
                    </div>

                    <a id="accordion_btn_2" data-toggle="collapse" data-parent="#accordion" href="#collapse3" onclick="ScrollTop()">
                        <button type="button" class="btn btn-success">Przejdź dalej</button>
                    </a>
                    <button id="accordion_submit_2" type="submit" class="btn btn-success hidden" onclick="validateForm(2)">Zatwierdź i przejdź dalej</button>

                 </div>
            </div>
        </div>

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">
                    Gry komputerowe a zachowania społeczne
                </h3>
            </div>

            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">

                    <div class="form-group">
                        <label>
                            Czy podczas gry komunikujesz się z innymi ludźmi w sposób niezwiązany z daną grą?
                        </label><br>
                        <div class="radio">
                            <label>
                              <input type="radio" name="communication" value="yes" required>Tak, przez komunikator, telefon, rozmawiając na żywo, itp.
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                              <input type="radio" name="communication" value="no">Nie, raczej skupiam się na grze
                            </label>
                        </div>
                    </div><br>

                    <div class="form-group">
                        <label>Czy zdarzyło Ci się zrezygnować z zajęć, planów lub obowiązków na rzeczy gry?</label><br>
                        <div class="radio">
                            <label>
                              <input type="radio" name="resign" value="yes" id="resignRadio" onclick="showResignDiv()" required>Tak
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                              <input type="radio" name="resign" value="no" onclick="showResignDiv()">Nie
                            </label>
                        </div>
                    </div><br>

                    <div class="div-resign">
                        <div class="form-group">
                            <label>Jak często taka sytuacja ma miejsce?</label><br>
                            <div class="radio">
                                <label>
                                  <input type="radio" name="resign_freq" value="1" required>rzadziej niż raz w roku
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                  <input type="radio" name="resign_freq" value="2">rzadko (kilka razy w roku)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                  <input type="radio" name="resign_freq" value="3">sporadycznie (raz w miesiącu)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                  <input type="radio" name="resign_freq" value="4">często (kilka razy w miesiącu)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                  <input type="radio" name="resign_freq" value="5">częściej niż raz w tygodniu
                                </label>
                            </div>
                        </div><br>

                        <div class="form-group" id="ResignChoiceCheckboxGrp">
                            <label>
                                Z czego zdarzyło Ci się zrezygnować?
                            </label><br>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="resign_choice[]" value="sport" onclick="checkboxRequire(resignChoiceCheckboxGrpID)">z aktywności fizycznej
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="resign_choice[]" value="family" onclick="checkboxRequire(resignChoiceCheckboxGrpID)">z czasu spędzonego z rodziną
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="resign_choice[]" value="friends" onclick="checkboxRequire(resignChoiceCheckboxGrpID)">z czasu spędzonego z przyjaciółmi lub znajomymi
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="resign_choice[]" value="chores" onclick="checkboxRequire(resignChoiceCheckboxGrpID)">z obowiązków domowych
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="resign_choice[]" value="work" onclick="checkboxRequire(resignChoiceCheckboxGrpID)">ze szkoły lub pracy
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="resign_choice[]" value="other" onclick="checkboxRequire(resignChoiceCheckboxGrpID)">inne
                                </label>
                            </div>
                            <div class="checkbox hidden">
                                <label>
                                  <input type="checkbox" name="resign_choice[]" value="NA">Nie dotyczy
                                </label>
                            </div>
                        </div><br>
                    </div>

                    <div class="div-single"><h1>SINGLE</h1>
                        <div class="form-group">
                            <p>Jesteśmy w stanie tu coś wymyślić?</p>
                        </div><br>
                    </div>

                    <div class="div-multi">
                        <div class="form-group">
                            <label>
                                 Czy zdarzyło Ci się być świadkiem agresywnego zachowania graczy ukierunkowanego na inną osobę lub grupę osób?
                            </label><br>
                            <div class="radio">
                                <label>
                                  <input type="radio" name="salt" value="yes" required>Tak
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                  <input type="radio" name="salt" value="no">Nie
                                </label>
                            </div>
                        </div><br>

                        <div class="form-group">
                            <label>
                                 Czy zdarzyło Ci się w ten sposób krytykować zachowanie lub umiejętności innego gracza?
                            </label><br>
                            <div class="radio">
                                <label>
                                  <input type="radio" name="salt_self" value="yes" required>Tak
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                  <input type="radio" name="salt_self" value="no">Nie
                                </label>
                            </div>
                        </div><br>

                        <div class="form-group">
                            <label>
                                Czy zdarzyło Ci się być świadkiem uprzykrzania gry przez pojedynczą osobę lub grupę osób
                                (np. poprzez przeszkadzanie członkom swojej drużyny, celowe wspieranie drużyny przeciwnej)?
                            </label><br>
                            <div class="radio">
                                <label>
                                  <input type="radio" name="griefing" value="yes" required>Tak
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                  <input type="radio" name="griefing" value="no">Nie
                                </label>
                            </div>
                        </div><br>

                        <div class="form-group">
                            <label>
                                 Czy zdarzyło Ci się w ten sposób zachowywać?
                            </label><br>
                            <div class="radio">
                                <label>
                                  <input type="radio" name="griefing_self" value="yes" required>Tak
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                  <input type="radio" name="griefing_self" value="no">Nie
                                </label>
                            </div>
                        </div><br>

                        <div class="form-group">
                            <label>
                                 Czy należysz do gildii, klanu lub innej społeczności w grze?
                            </label><br>
                            <div class="radio">
                                <label>
                                  <input type="radio" name="guild" value="yes" id="guildRadio" onclick="showGuildDiv()" required>Tak
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                  <input type="radio" name="guild" value="no" onclick="showGuildDiv()">Nie
                                </label>
                            </div>
                        </div><br>

                        <div class="div-guild">
                            <div class="form-group" id="GuildWhyCheckboxGrp">
                                <label>
                                     Jakie były powody przystąpienia do takiej społeczności?
                                </label><br>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" name="guild_why[]" value="meeting" onclick="checkboxRequire(guildWhyCheckboxGrpID)">chęć zawierania nowych znajomości
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" name="guild_why[]" value="team" onclick="checkboxRequire(guildWhyCheckboxGrpID)">znalezienie kompanów do wspólnej rozgrywki
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" name="guild_why[]" value="benefits" onclick="checkboxRequire(guildWhyCheckboxGrpID)">otrzymanie benefitów z tytułu członkostwa (np. szybsze zdobywanie doświadczenia)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" name="guild_why[]" value="other" onclick="checkboxRequire(guildWhyCheckboxGrpID)">inne
                                    </label>
                                </div>
                                <div class="checkbox hidden">
                                    <label>
                                      <input type="checkbox" name="guild_why[]" value="NA">Nie dotyczy
                                    </label>
                                </div>
                            </div><br>

                            <div class="form-group">
                                <label>
                                     Czy członkowie tej społeczności korzystają z komunikacji głosowej (Skype, Teamspeak, Ventrillo, itp.)
                                </label><br>
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="teamspeak" value="yes" required>Tak
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="teamspeak" value="no">Nie
                                    </label>
                                </div>
                            </div><br>

                        </div>

                        <div class="form-group">
                            <label>
                                 Czy rozmawiasz z ludźmi poznanymi w grze (czat lub komunikacja głosowa)?
                            </label><br>
                            <div class="radio">
                                <label>
                                  <input type="radio" name="shyness_factor" value="yes" required>Tak
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                  <input type="radio" name="shyness_factor" value="no">Nie
                                </label>
                            </div>
                        </div><br>

                        <div class="form-group">
                            <label>
                                 Czy kontaktujesz się z poznanymi ludźmi poza grą?
                            </label><br>
                            <div class="radio">
                                <label>
                                  <input type="radio" name="reallife_contact" value="yes" required>Tak
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                  <input type="radio" name="reallife_contact" value="no">Nie
                                </label>
                            </div>
                        </div><br>

                        <div class="form-group">
                            <label>
                                 Czy utrzymujesz kontakt z ludźmi poznanymi w grze po zaprzestaniu gry?
                            </label><br>
                            <div class="radio">
                                <label>
                                  <input type="radio" name="bonding" value="yes" required>Tak
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                  <input type="radio" name="bonding" value="no">Nie
                                </label>
                            </div>
                        </div><br>

                        <div class="form-group">
                            <label>
                                 Czy zdarzyło Ci się lub planujesz spotkać się z ludźmi poznanymi w grze?
                            </label><br>
                            <div class="radio">
                                <label>
                                  <input type="radio" name="meeting" value="yes" required>Tak
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                  <input type="radio" name="meeting" value="no">Nie
                                </label>
                            </div>
                        </div><br>

                    </div>

                    <button id="accordion_submit_3" type="submit" class="btn btn-success" onclick="validateForm(3)">Zatwierdź i prześlij ankietę</button>

                </div>
            </div>
        </div>

    </div>

</form>

    <script src="static/js/form.js"></script>

</div>
{% endblock %}

