<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Witamy w naszej ankiecie</h1>
    <p>Zapraszamy do wypełnienia ankiety na temat interakcji społecznych w grach komputerowych. Prosimy o szczere odpowiedzi i gl hf.</p>
    <a>href="/form" class="btn btn-success" role="button">Wypełnij ankietę!</a>
  </div>

  <div class="page-header">
    <h1>Chose the next step</h1>
  </div>
  <p>
    <a href="/form" class="btn btn-success" role="button">Fill the form</a>
    <a href="/result" class="btn btn-primary" role="button">Review results</a>
  </p>


{% endblock %}

