<!-- extend base layout -->
{% extends "base.html" %}
<div class="container theme-showcase" role="main">
    {% block content %}

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
      <div class="container theme-showcase" role="main">
        <h2>Interakcje społeczne</h2>
          <h1> w grach komputerowych</h1>
        <a href="/form" class="btn btn-success" role="button" style = "margin: 15px">Wypełnij ankietę!</a>
      </div>
      </div>

    {% endblock %}

</div>