<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
  <div class="container theme-showcase" role="main">
    <h1>Witamy w naszej ankiecie</h1>
    <p>Zapraszamy do wypełnienia ankiety na temat INTERAKCJI SPOLECZNYCH W GRACH KOMPUTEROWYCH. Prosimy o szczere i przemyślane odpowiedzi. GL & HF</p>
    <a href="/form" class="btn btn-success" role="button">Wypełnij ankietę!</a>
  </div>
  </div>

{% endblock %}

